
################# /limits-service/ ######################

/limits-service/.gitignore
/limits-service/HELP.md
/limits-service/.gradle
/limits-service/build/
/limits-service/!gradle/wrapper/gradle-wrapper.jar
/limits-service/!**/src/main/**
/limits-service/!**/src/test/**

### STS ###
/limits-service/.apt_generated
/limits-service/.classpath
/limits-service/.factorypath
/limits-service/.project
/limits-service/.settings
/limits-service/.springBeans
/limits-service/.sts4-cache

### IntelliJ IDEA ###
/limits-service/.idea
/limits-service/*.iws
/limits-service/*.iml
/limits-service/*.ipr
/limits-service/out/

### NetBeans ###
/limits-service//nbproject/private/
/limits-service//nbbuild/
/limits-service//dist/
/limits-service//nbdist/
/limits-service//.nb-gradle/

### VS Code ###
/limits-service/.vscode/

/limits-service/bin/
/limits-service/gradle/wrapper
/limits-service/gradlew
/limits-service/gradlew.bat

################# /limits-service/ ######################

################# /spring-cloud-config-server/ ######################

/spring-cloud-config-server/.gitignore
/spring-cloud-config-server/HELP.md
/spring-cloud-config-server/.gradle
/spring-cloud-config-server/build/
/spring-cloud-config-server/!gradle/wrapper/gradle-wrapper.jar
/spring-cloud-config-server/!**/src/main/**
/spring-cloud-config-server/!**/src/test/**

### STS ###
/spring-cloud-config-server/.apt_generated
/spring-cloud-config-server/.classpath
/spring-cloud-config-server/.factorypath
/spring-cloud-config-server/.project
/spring-cloud-config-server/.settings
/spring-cloud-config-server/.springBeans
/spring-cloud-config-server/.sts4-cache

### IntelliJ IDEA ###
/spring-cloud-config-server/.idea
/spring-cloud-config-server/*.iws
/spring-cloud-config-server/*.iml
/spring-cloud-config-server/*.ipr
/spring-cloud-config-server/out/

### NetBeans ###
/spring-cloud-config-server//nbproject/private/
/spring-cloud-config-server//nbbuild/
/spring-cloud-config-server//dist/
/spring-cloud-config-server//nbdist/
/spring-cloud-config-server//.nb-gradle/

### VS Code ###
/spring-cloud-config-server/.vscode/

/spring-cloud-config-server/bin/
/spring-cloud-config-server/gradle/wrapper
/spring-cloud-config-server/gradlew
/spring-cloud-config-server/gradlew.bat

################# /spring-cloud-config-server/ ######################