
################# /limits-service/ ######################

/limits-service/.gitignore
/limits-service/HELP.md
/limits-service/.gradle
/limits-service/build/
/limits-service/!gradle/wrapper/gradle-wrapper.jar
/limits-service/!**/src/main/**
/limits-service/!**/src/test/**

### STS ###
/limits-service/.apt_generated
/limits-service/.classpath
/limits-service/.factorypath
/limits-service/.project
/limits-service/.settings
/limits-service/.springBeans
/limits-service/.sts4-cache

### IntelliJ IDEA ###
/limits-service/.idea
/limits-service/*.iws
/limits-service/*.iml
/limits-service/*.ipr
/limits-service/out/

### NetBeans ###
/limits-service//nbproject/private/
/limits-service//nbbuild/
/limits-service//dist/
/limits-service//nbdist/
/limits-service//.nb-gradle/

### VS Code ###
/limits-service/.vscode/

/limits-service/bin/
/limits-service/gradle/wrapper
/limits-service/gradlew
/limits-service/gradlew.bat

################# /limits-service/ ######################

################# /spring-cloud-config-server/ ######################

/spring-cloud-config-server/.gitignore
/spring-cloud-config-server/HELP.md
/spring-cloud-config-server/.gradle
/spring-cloud-config-server/build/
/spring-cloud-config-server/!gradle/wrapper/gradle-wrapper.jar
/spring-cloud-config-server/!**/src/main/**
/spring-cloud-config-server/!**/src/test/**

### STS ###
/spring-cloud-config-server/.apt_generated
/spring-cloud-config-server/.classpath
/spring-cloud-config-server/.factorypath
/spring-cloud-config-server/.project
/spring-cloud-config-server/.settings
/spring-cloud-config-server/.springBeans
/spring-cloud-config-server/.sts4-cache

### IntelliJ IDEA ###
/spring-cloud-config-server/.idea
/spring-cloud-config-server/*.iws
/spring-cloud-config-server/*.iml
/spring-cloud-config-server/*.ipr
/spring-cloud-config-server/out/

### NetBeans ###
/spring-cloud-config-server//nbproject/private/
/spring-cloud-config-server//nbbuild/
/spring-cloud-config-server//dist/
/spring-cloud-config-server//nbdist/
/spring-cloud-config-server//.nb-gradle/

### VS Code ###
/spring-cloud-config-server/.vscode/

/spring-cloud-config-server/bin/
/spring-cloud-config-server/gradle/wrapper
/spring-cloud-config-server/gradlew
/spring-cloud-config-server/gradlew.bat

################# /spring-cloud-config-server/ ######################

################# /currency-exchange-service/ ######################

/currency-exchange-service/.gitignore
/currency-exchange-service/HELP.md
/currency-exchange-service/.gradle
/currency-exchange-service/build/
/currency-exchange-service/!gradle/wrapper/gradle-wrapper.jar
/currency-exchange-service/!**/src/main/**
/currency-exchange-service/!**/src/test/**

### STS ###
/currency-exchange-service/.apt_generated
/currency-exchange-service/.classpath
/currency-exchange-service/.factorypath
/currency-exchange-service/.project
/currency-exchange-service/.settings
/currency-exchange-service/.springBeans
/currency-exchange-service/.sts4-cache

### IntelliJ IDEA ###
/currency-exchange-service/.idea
/currency-exchange-service/*.iws
/currency-exchange-service/*.iml
/currency-exchange-service/*.ipr
/currency-exchange-service/out/

### NetBeans ###
/currency-exchange-service//nbproject/private/
/currency-exchange-service//nbbuild/
/currency-exchange-service//dist/
/currency-exchange-service//nbdist/
/currency-exchange-service//.nb-gradle/

### VS Code ###
/currency-exchange-service/.vscode/

/currency-exchange-service/bin/
/currency-exchange-service/gradle/wrapper
/currency-exchange-service/gradlew
/currency-exchange-service/gradlew.bat

################# /currency-exchange-service/ ######################

################# /currency-conversion-service/ ######################

/currency-conversion-service/.gitignore
/currency-conversion-service/HELP.md
/currency-conversion-service/.gradle
/currency-conversion-service/build/
/currency-conversion-service/!gradle/wrapper/gradle-wrapper.jar
/currency-conversion-service/!**/src/main/**
/currency-conversion-service/!**/src/test/**

### STS ###
/currency-conversion-service/.apt_generated
/currency-conversion-service/.classpath
/currency-conversion-service/.factorypath
/currency-conversion-service/.project
/currency-conversion-service/.settings
/currency-conversion-service/.springBeans
/currency-conversion-service/.sts4-cache

### IntelliJ IDEA ###
/currency-conversion-service/.idea
/currency-conversion-service/*.iws
/currency-conversion-service/*.iml
/currency-conversion-service/*.ipr
/currency-conversion-service/out/

### NetBeans ###
/currency-conversion-service//nbproject/private/
/currency-conversion-service//nbbuild/
/currency-conversion-service//dist/
/currency-conversion-service//nbdist/
/currency-conversion-service//.nb-gradle/

### VS Code ###
/currency-conversion-service/.vscode/

/currency-conversion-service/bin/
/currency-conversion-service/gradle/wrapper
/currency-conversion-service/gradlew
/currency-conversion-service/gradlew.bat

################# /currency-conversion-service/ ######################

################# /netflix-eureka-server/ ######################

/netflix-eureka-server/.gitignore
/netflix-eureka-server/HELP.md
/netflix-eureka-server/.gradle
/netflix-eureka-server/build/
/netflix-eureka-server/!gradle/wrapper/gradle-wrapper.jar
/netflix-eureka-server/!**/src/main/**
/netflix-eureka-server/!**/src/test/**

### STS ###
/netflix-eureka-server/.apt_generated
/netflix-eureka-server/.classpath
/netflix-eureka-server/.factorypath
/netflix-eureka-server/.project
/netflix-eureka-server/.settings
/netflix-eureka-server/.springBeans
/netflix-eureka-server/.sts4-cache

### IntelliJ IDEA ###
/netflix-eureka-server/.idea
/netflix-eureka-server/*.iws
/netflix-eureka-server/*.iml
/netflix-eureka-server/*.ipr
/netflix-eureka-server/out/

### NetBeans ###
/netflix-eureka-server//nbproject/private/
/netflix-eureka-server//nbbuild/
/netflix-eureka-server//dist/
/netflix-eureka-server//nbdist/
/netflix-eureka-server//.nb-gradle/

### VS Code ###
/netflix-eureka-server/.vscode/

/netflix-eureka-server/bin/
/netflix-eureka-server/gradle/wrapper
/netflix-eureka-server/gradlew
/netflix-eureka-server/gradlew.bat

################# /netflix-eureka-server/ ######################

################# /netflix-zuul-api-gateway-server/ ######################

/netflix-zuul-api-gateway-server/.gitignore
/netflix-zuul-api-gateway-server/HELP.md
/netflix-zuul-api-gateway-server/.gradle
/netflix-zuul-api-gateway-server/build/
/netflix-zuul-api-gateway-server/!gradle/wrapper/gradle-wrapper.jar
/netflix-zuul-api-gateway-server/!**/src/main/**
/netflix-zuul-api-gateway-server/!**/src/test/**

### STS ###
/netflix-zuul-api-gateway-server/.apt_generated
/netflix-zuul-api-gateway-server/.classpath
/netflix-zuul-api-gateway-server/.factorypath
/netflix-zuul-api-gateway-server/.project
/netflix-zuul-api-gateway-server/.settings
/netflix-zuul-api-gateway-server/.springBeans
/netflix-zuul-api-gateway-server/.sts4-cache

### IntelliJ IDEA ###
/netflix-zuul-api-gateway-server/.idea
/netflix-zuul-api-gateway-server/*.iws
/netflix-zuul-api-gateway-server/*.iml
/netflix-zuul-api-gateway-server/*.ipr
/netflix-zuul-api-gateway-server/out/

### NetBeans ###
/netflix-zuul-api-gateway-server//nbproject/private/
/netflix-zuul-api-gateway-server//nbbuild/
/netflix-zuul-api-gateway-server//dist/
/netflix-zuul-api-gateway-server//nbdist/
/netflix-zuul-api-gateway-server//.nb-gradle/

### VS Code ###
/netflix-zuul-api-gateway-server/.vscode/

/netflix-zuul-api-gateway-server/bin/
/netflix-zuul-api-gateway-server/gradle/wrapper
/netflix-zuul-api-gateway-server/gradlew
/netflix-zuul-api-gateway-server/gradlew.bat

################# /netflix-zuul-api-gateway-server/ ######################